@model Practicing_Programmer.Models.Kata

@{
    ViewBag.Title = "Details";
}

<div class="title">
    <h2>@Html.DisplayFor(model => model.Title)</h2>    
</div>

<div>
    <div>
        <legend>Summary</legend>
        <p>@Html.DisplayFor(model => model.Summary)</p>
        <p>Category: @Html.DisplayFor(model => model.Category)</p>
        <p>Difficulty: @Html.DisplayFor(model => model.Difficulty)</p>
    </div>
    <div class="problem">
        <legend>Problem Description</legend>
        <p>@Html.DisplayFor(model => model.Content)</p>
        <p>Github: @Html.DisplayFor(model => model.GithubLink)</p>
    </div>
    <div class="input">
        <legend>Sample Input</legend>
        <p>@Html.DisplayFor(model => model.TestInput)</p>
    </div>
    <div class="output">
        <legend>Sample Output</legend>
        <p>@Html.DisplayFor(model => model.TestOutput)</p>
    </div>
    
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>    
</div>


