@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "title";
}

<legend>The Practicing Programmer</legend>

<div class="top-kata">
    <h3>Most Recent Kata</h3>
    <a class="kata-summary" href="@Url.Action("Details", new { id=item.KataID })">
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        <p>Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)</p>
    </a>
</div>
<div class="break"></div>
<div class="top-question">
    <h3>Most Recent Interview Question</h3>
    <a class="question-summary" href="@Url.Action("Details", new { id=item.KataID })">
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        <p>Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)</p>
    </a>
</div>



