@model Practicing_Programmer.Models.Question

@{
    ViewBag.Title = "Details";
}
<div>
    @Html.ActionLink("Edit", "Edit")
    &nbsp;@Html.ActionLink("Delete", "Delete")
</div>
<div class="title">
    <h2>@Html.DisplayFor(model => model.Inquiry)</h2>
</div>
<div>
    <div>
        <legend>Summary</legend>
        <p>@Html.DisplayFor(model => model.Summary)</p>
        <p>Category: @Html.DisplayFor(model => model.Category)</p>
        <p>Difficulty: @Html.DisplayFor(model => model.Difficulty)</p>
    </div>
    <div class="problem">
        <legend>Answer</legend>
        <p>@Html.DisplayFor(model => model.Answer)</p>
        <p>More Info: @Html.DisplayFor(model => model.MoreInfo)</p>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

