@model Practicing_Programmer.Models.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        @Html.HiddenFor(model => model.QuestionID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Inquiry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Inquiry)
            @Html.ValidationMessageFor(model => model.Inquiry)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Answer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Answer)
            @Html.ValidationMessageFor(model => model.Answer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoreInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoreInfo)
            @Html.ValidationMessageFor(model => model.MoreInfo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
